<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sobre_mi.css">
    <title>Mi Portafolio</title>
</head>
<body>
    
    <div class="main">
        <div class="left">
            <div class="container">
                <div class="img">
                    <img src="../storage/imgs/ola.avif">
                </div> 
                <div class="text">
                    <div class="name1">
                        <p>Juan Carlos</p> 
                    </div>
                    <div class="name2">
                        <p>Almario</p> 
                    </div>
                </div> 
                <div class="contactos">
                    <a href="#">
                        <img src="../storage/imgs/github.svg">
                    </a>                   
                    <a href="#">
                        <img src="../storage/imgs/linkedin.svg">
                    </a>   
                    <a href="#">
                        <img src="../storage/imgs/gmail.svg">
                    </a>   
                </div>           
            </div>
        </div>
        <div class="right">
            <div class="titulo">
                <h1>Sobre mí</h1>
            </div>
        </div>
    </div>
</body>
</html>