@import url(variables.css);

body {
    background-color: var(--color-uno);
    width: 100%;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    margin: 0; /* Elimina márgenes por defecto */
}

.main {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex; /* Permite usar flexbox */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    flex-direction: column;
    border: 1px solid var(--color-cuatro);
    background-color: var(--color-cuatro);
    border-radius: 20px;
    margin: 7vh auto; /* Centrado */
    box-shadow: 1px 1px 10px 10px var(--color-cuatro);
    width: 90%; /* Ajusta al 90% del ancho disponible */
    max-width: 600px; /* Limita el ancho máximo */
}

.first {
    display: flex; /* Permite usar flexbox */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    flex-direction: column;
    border: 1px solid var(--color-cuatro);
    background-color: var(--color-cuatro);
    border-radius: 20px;
    margin: 4vh auto; /* Centrado */
    box-shadow: 1px 1px 10px 10px var(--color-cuatro);
    width: 90%; /* Ajusta al 90% del ancho disponible */
    max-width: 600px; /* Limita el ancho máximo */
}


.img {
    display: flex; /* Permite usar flexbox */
    justify-content: center; /* Centra horizontalmente la imagen */
    margin: 12vh auto 0; /* Centra verticalmente el espacio alrededor */
}

.img img {
    width: 80%; /* Ajusta al ancho de su contenedor */
    height: auto; /* Mantiene la proporción */
    border-radius: 20px;
}

.left {
    width: 100%; /* Por defecto ocupará todo el ancho */
    height: auto; /* Permite que se ajuste */
}

.right {
    width: 100%; /* Por defecto ocupará todo el ancho */
    height: auto; /* Permite que se ajuste */
}

.name1 p,
.name2 p {
    text-align: center;
    font-family: "PoppinsBold";
    font-size: 50px;
    color: var(--color-uno);
}

.title1 h1,
.title2 h1 {
    font-family: "PoppinsBold";
    font-size: 40px;
    color: var(--color-uno);
    text-align: center;
}

.first p {
    font-family: "PoppinsRegular";
    font-size: 25px;
    text-align: center; /* Centra el texto */
}

.text2 {
    margin: 6vh auto; /* Centrar */
    width: 100%; /* Ajustar al ancho completo */
    max-width: 95vh; /* Limita el ancho en pantallas grandes */
}

.text2 p {
    color: var(--color-tres);
    font-size: 18.5px;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -5vh;
    width:100%;
    margin-top: 6vh;
    gap: 20px;
}

.header a {
    font-family: "PoppinsSemiBold";
    color: var(--color-cinco);
    padding: 11px;
    border-radius: 15px;
    transition: transform 0.3s ease;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

.contactos {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: -5vh;
}

.contactos img {
    width: 50px;
    height: 50px;
    border-radius: 35px;
    transition: transform 0.3s ease;
}

.contactos img:hover {
    transform: scale(1.5);
}

.header a:hover {
    transform: scale(1.2);
}

/* Media Queries */

/* Estilos para dispositivos móviles */
@media screen and (max-width: 480px) {
    .name1 p,
    .name2 p {
    font-size: 55px; /* Tamaño de fuente */
    line-height: 0.2; /* Ajusta este valor para aumentar o disminuir el espacio */
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2vh;
    width:94%;
}
    .title1 h1,
    .title2 h1 {
        font-size: 50px; /* Tamaño de fuente más pequeño */
        line-height: 0
    }

    .text2{
        margin-top: 1vh;
    }

    .text2 p {
        font-size: 25px; 
    }

    .contactos{
        margin-top: 15px;
    }

    .contactos img{
        width:100%
    }

    .img {
        margin-left: 0;
    }

    .header a {
        font-size: 25px;
    }
}

/* Estilos para tabletas */
@media screen and (min-width: 481px) and (max-width: 768px) {

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 2vh;
        width:94%;
    }

    .left,
    .right {
        width: 100%; 
        margin-left: 0; 
    }


    .contactos{
        margin-top: 15px;
    }

    .contactos img{
        width:7vh;
        height:7vh
    }

    .name1 p,
    .name2 p {
        font-size: 65px; 
        line-height: 0.2; /* Tamaño de fuente mediano */
    }

    .title1 h1,
    .title2 h1 {
        font-size: 50px; /* Tamaño de fuente mediano */
        line-height: 0
    }

    .text2{
        margin-top: 1vh;
    }

    .text2 p {
        font-size: 25px; /* Tamaño de texto mediano */
    }

    .img img {
        width: 80%; /* Ajusta el tamaño de la imagen en tabletas */
        height: auto; /* Mantiene la proporción */
    }

    .header a{
        font-size: 20px;
    }

}

/* Estilos para pantallas grandes */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .main {
        flex-direction: row; /* Muestra en fila */
    }

    .left {
        width: 42%; /* Ajusta ancho */
    }

    .right {
        width: 48%; /* Ajusta ancho */
    }

    .name1 p,
    .name2 p {
        font-size: 50px; /* Tamaño de fuente grande */
    }

    .title1 h1,
    .title2 h1 {
        font-size: 40px; /* Tamaño de fuente grande */
    }
}

/* Estilos para pantallas muy grandes */
@media screen and (min-width: 1025px) {
    .main {
        flex-direction: row; /* Muestra en fila */
    }

    .img img{
        margin-top: -5vh;
        width:80%
    }

    .left,
    .right {
        width: 100%; 
        margin-left: 0; 
    }

    .first {
        width: 90%; 
        max-width: 900px; 
        margin-left: -2.5vh;
        margin-top: 12.5vh;
        height:70vh
    }

    .name1 p,
    .name2 p {
        font-size: 50px; /* Tamaño de fuente muy grande */
        line-height: 0
    }

    .name2 p{
        margin-bottom: 9vh;
    }

    .text{
        margin-top: -2vh;
    }

    .title1 h1,
    .title2 h1 {
        font-size: 50px; /* Tamaño de fuente muy grande */
    }

    .title1 h1{
        margin-top: 7vh;
    }

    .title2 h1{
        margin-top: -6vh;
    }

    .text2 {
        margin-top: -6vh;
        width: 100%; /* Ajustar al ancho completo */
        max-width: 95vh; /* Limita el ancho en pantallas grandes */
    }

    .text2 p {
        font-size: 25px; /* Tamaño de texto grande */
    }

    .container{
        margin-top: 16vh;
        height:62vh;
        width:60%;
        margin-left: 8vh;
    }

    .contactos img{
        width:40px;
        height:65px
    };
    
}

/* Estilos para pantallas muy grandes */
@media screen and (min-width: 1400px) {
    .main {
        flex-direction: row; /* Muestra en fila */
    }

    .img img{
        margin-top: -5vh;
    }

    .left,
    .right {
        width: 100%; 
        margin-left: 0; 
    }

    .first {
        width: 100%; 
        max-width: 900px; 
        margin-left: -15vh;
        margin-top: 10vh;
        height:70vh
    }

    .name1 p,
    .name2 p {
        font-size: 70px; /* Tamaño de fuente muy grande */
        line-height: 0
    }

    .text{
        margin-top: -2vh;
    }

    .title1 h1,
    .title2 h1 {
        font-size: 80px; /* Tamaño de fuente muy grande */
    }

    .title1 h1{
        margin-top: 7vh;
    }

    .title2 h1{
        margin-top: -11vh;
    }

    .text2 {
        margin-top: -10vh;
        width: 100%; /* Ajustar al ancho completo */
        max-width: 95vh; /* Limita el ancho en pantallas grandes */
    }

    .text2 p {
        font-size: 29px; /* Tamaño de texto grande */
    }

    .container{
        margin-top: 4.5vh;
        height:88vh;
        width:50%;
        margin-left: 15vh;
    }

    .contactos{
        margin-top: 2vh;
    }

    .contactos img{
        width:65px;
        height:65px
    };

    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: -18vh;
        width:100%;
    }
    
    .header a {
        font-size: 25px;
    }
}


