@import url(variables.css);

body{
    background-color: var(--color-uno);
}

.main{
    display: flex;
    flex-direction: row;
}

.img{
    margin-left: 37vh;
    margin-top: 12vh;
}

.img img{
    width: 210px;
    height: 350px;
    border-radius: 20px;
    margin-left: -27vh;
    margin-top: -4vh;
}

.left{
    /* border: 1px solid blue; */
    width:42%;
    height:97.5vh;
}

.container{
    border: 1px solid var(--color-cuatro);
    background-color: var(--color-cuatro);
    border-radius: 20px;
    margin-left: 28vh;
    margin-top: 7vh;
    box-shadow: 1px 1px 10px 10px var(--color-cuatro);
    width: 47vh;
    height: 83vh
}


.name1 p{
    text-align: center;
    font-family: "PoppinsBold";
    font-size: 50px;
    margin-top: 1vh;
    color: var(--color-uno)
}

.name2 p{
    text-align: center;
    font-family: "PoppinsBold";
    font-size: 50px;
    margin-top: -10vh;
    color: var(--color-uno)
}


.title1 h1{
    font-family: "PoppinsBold";
    font-size: 90px;
    margin-top: 5vh;
    color: var(--color-uno);
    text-align: center;
}

.title2 h1{
    font-family: "PoppinsBold";
    font-size: 90px;
    margin-top: -15vh;
    color: var(--color-uno);
    text-align: center;
}

.first{
    background-color: var(--color-cinco);
    padding-left: 5vh;
    padding-right: 5vh;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 10px var(--color-cinco);
    margin-top: 15vh;
    height: 56vh
}

.first p{
    font-family: "PoppinsRegular";
    font-size: 25px;
    margin-top: -6vh;
}

.text2{
    width: 100vh;
    margin-top: -10vh;
    margin-left: 2vh;
}

.text2 p{
    color: var(--color-tres);
    font-size: 20px;
    text-align: center;
}

.header a{
    font-family: "PoppinsSemiBold";
    color: var(--color-uno);
    background-color: var(--color-cinco);
    box-shadow: 1px 1px 10px 1px var(--color-cinco);
    padding: 10px;
    border-radius: 20px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 8vh;
}